<header class="global-header">
  <div class="global-header-left">
    <button id="btnGoBack" class="btn-header-icon">⟵</button>

    <div class="global-user-info">
      <div id="headerAvatar" class="header-avatar">A+</div>
      <div class="global-user-text">
        <div id="headerName" class="header-name">Usuario</div>
        <div id="headerRole" class="header-role">Miembro Advance+</div>
      </div>
    </div>
  </div>

  <div class="global-header-right">
    <button id="btnProfile" class="btn-header-icon">⚙</button>
    <button id="btnLogoutGlobal" class="btn-header-icon red">⎋</button>
  </div>
</header>
